<!--employee SignUp form-->
<div id="sign" class="signup-form col-12">
    <form class="form" [formGroup]="signUpForm" (ngSubmit)="signIn()">
		<h2> Student sign Up</h2>
		<p>It's free and only takes a minute.</p>
		<hr>
        <div class="row">
    <div class="col-md-6">
        <div class="form-group">
			<label>Username</label>
        	<input type="text" class="form-control" name="name" formControlName="name">
        </div>
        <div *ngIf="name.invalid && name.dirty"
            class="alert alert-danger"	>
           Please enter a name
        </div>
        <div class="form-group">
			<label>Email Address</label>
        	<input email type="email" class="form-control" name="email" formControlName="email">
        </div>
        <div *ngIf="email.invalid && email.dirty"
        class="alert alert-danger"	>
        Please enter a valid email
        </div>
        <div class="form-group">
			<label>Phone number</label>
        	<input type="text" class="form-control" name="tel" formControlName="tel">
        </div>
        <div *ngIf="tel.invalid && tel.dirty"
        class="alert alert-danger"	>
        Please enter Phone number
        </div>
        <div class="form-group">
			<label>Address</label>
        	<input type="text" class="form-control" name="Address" formControlName="location">
        </div>
        <div *ngIf="location.invalid && location.dirty"
        class="alert alert-danger"	>
        Please enter an address
        </div>
        <div class="form-group">
			<label>School</label>
        	<input type="text" class="form-control" name="school" formControlName="school">
        </div>
        <div *ngIf="school.invalid && school.dirty"
        class="alert alert-danger"	>
        Please enter a school
        </div>
        <div class="form-group">
			<label>Education Specialty</label>
        	<input type="text" class="form-control" name="education" formControlName="education">
        </div>
        <div *ngIf="education.invalid && education.dirty"
        class="alert alert-danger"	>
        Please enter your Education Specialty
        </div>
        <div class="form-group">
			<label>Linkedin Username</label>
        	<input type="text" class="form-control" name="linkedin" formControlName="linkedin">
        </div>
        <div *ngIf="linkedin.invalid && linkedin.dirty"
        class="alert alert-danger"	>
        Please enter your Linkedin Username
        </div>
        <div class="form-group">
			<label>Languages</label><br>
        	<input type="checkbox" id="vehicle1" formControlName="languages" value="arabic"> &nbsp; 
            <label for="vehicle1"> Arabic</label><br>
            <input type="checkbox" id="vehicle2" formControlName="languages" value="english"> &nbsp; 
            <label for="vehicle2"> English</label><br>
            <input type="checkbox" id="vehicle3" formControlName="languages" value="frensh"> &nbsp; 
            <label for="vehicle3"> Frensh</label><br>
        </div>
        <div *ngIf="languages.invalid && languages.dirty"
        class="alert alert-danger"	>
        Please enter your Languages
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
			<label>Date of birth</label>
        	<input type="date" class="form-control" name="dateOfBirth" formControlName="dateOfBirth">
        </div>
        <div class="form-group">
			<label>Gender</label>
            <br>
                <input type="radio" name="gender" value="M"  formControlName="gender" checked> Male<br>
                <input type="radio" name="gender" value="F" formControlName="gender" > Female<br>
                <input type="radio" name="gender" value="X" formControlName="gender"  > Other
        </div>
        <div class="form-group">
			<label>Driver License</label>
            <br>
                <input type="radio" name="driverLicense" value="true"  formControlName="driverLicense" checked> True<br>
                <input type="radio" name="driverLicense" value="false" formControlName="driverLicense" > False<br>
        </div>
		<div class="form-group">
			<label>Password</label>
            <input type="password" class="form-control" name="password" formControlName="password">
        </div>
        <div *ngIf="password.invalid && password.dirty"
		class="alert alert-danger"	>
		Please enter a valid password: minimum length is 4
		</div>
        <div class="form-group">
            <span>Upload Image</span>
            <br>
        <label class="form-group image-upload-container">
            
            <input  
                   type="file"
                   accept="image/*"
                   (change)="onImageChange($event)"
                   formControlName="img"
                  >
          </label>
          </div>
          <div class="file form-group">
            Upload CV
            <input type="file" name="file" formControlName="cv" (change)="onFileChange($event)">
            </div>

            <div class="file-upload">
       
            </div>
            <br>
		<div class="form-group">
            
            <input  type="submit"  class="btn btn-primary btn-block btn-lg" [disabled]="signUpForm.invalid"  value="Sign Up" />
        </div>
    </div>
    </div>
    </form>
	<div class="text-center">Already have an account? <a  routerLink="/signin/studentsignin" routerLinkActive="active" >Login here</a></div>
</div>
